@using Apprenticeship.DTO
@using Apprenticeship.Data.Entities
@model SchoolSupervisorDTO

<link rel="stylesheet" type="text/css" href="~/css/form.css" />
<div class="bigContainer">
    <div class="container-fluid mt-2">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="card myContainer">
                    <div class="card-body">
                        <h2 style="text-align:center">Add School Supervisor.</h2>
                        <form method="post" action="/SchoolSupervisor/Insert" class="mt-5">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="fristName">First Name</label>
                                <input asp-for="fristName" class="form-control my-input" aria-required="true" />
                                <span asp-validation-for="fristName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="secondName">Second Name</label>
                                <input asp-for="secondName" class="form-control my-input" aria-required="true" />
                                <span asp-validation-for="secondName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="thirdName">Third Name</label>
                                <input asp-for="thirdName" class="form-control my-input" aria-required="true" />
                                <span asp-validation-for="thirdName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="lastName">Last Name</label>
                                <input asp-for="lastName" class="form-control my-input" aria-required="true" />
                                <span asp-validation-for="lastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone Number</label>
                                <input asp-for="PhoneNumber" class="form-control my-input" aria-required="true" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input type="email" asp-for="Email" class="form-control my-input" aria-required="true" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input type="password" asp-for="Password" class="form-control my-input" aria-required="true" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control my-input" aria-required="true" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <label class="mr-sm-2" asp-for="schoolId">Select Company</label>
                                <select asp-for="schoolId" aria-required="true" class="custom-select my-input">
                                    <option selected>Choose...</option>
                                    @foreach (var school in (List<School>)(ViewBag.schools))
                                    {
                                        <option value="@school.schoolId">@school.schoolName</option>
                                    }
                                </select>
                                <span asp-validation-for="schoolId" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-4">
                                <button id="registerSubmit" type="submit" class="btn waves-effect waves-light btn-lg btn-rounded myBtn" style="width:100%">
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

