@using Apprenticeship.DTO
@using Apprenticeship.Data.Entities
@model TrainingObjectiveDTO
<a class="btn btn-outline-secondary mb-4" asp-controller="TrainingObjectives" asp-action="Index">Go Back</a>

<div class="col-md-4">
    <form method="post" action="/TrainingObjectives/Insert">
        <h2>Create a new Training Objective.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <select asp-for="trainingId" class="form-control" aria-required="true">
                <option>Training</option>
                @foreach (var training in (List<Training>)(ViewBag.trainings))
                {
                        <option value="@training.trainingId">@training.studentId</option>
                }
            </select>
        </div>
        <div class="form-floating">
            <select asp-for="objectiveId" class="form-control" aria-required="true">
                <option>objective</option>
                @foreach (var objective in (List<Objective>)(ViewBag.objectives))
                {
                        <option value="@objective.objectiveId">@objective.objectiveName</option>
                }
            </select>
        </div>
        
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Add Training Objectives</button>
    </form>
</div>